# Version 0.2 Last updated 06/2016
#
# CDROM Version
# Installs ESXi and sets the IP & Hostname based on the MAC address
# 
# For info on how to build the boot CD, see http://www.virtuallyghetto.com/2012/03/how-to-create-bootable-esxi-5-iso.html

accepteula
install --firstdisk --overwritevmfs
rootpw VMware1!
network --bootproto=dhcp --device=vmnic0
reboot

%post --interpreter=busybox

mkdir /scratch/build

cp /vmfs/volumes/CDROM/BUILD/HOSTS.CSV /vmfs/volumes/datastore1
cp /vmfs/volumes/CDROM/BUILD/SETNET.PY /vmfs/volumes/datastore1

%firstboot --interpreter=busybox

sleep 30;

chmod u+x /vmfs/volumes/datastore1/SETNET.PY
#/bin/python /vmfs/volumes/datastore1/SETNET.PY

##############################################################################
# For troubleshooting only
# Enable SSH and the ESXi Shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

##############################################################################
# Write out csv as I don't know how to access the file from cdrom!
cat << EOF > ListOfHosts.csv
siteAAA,00:0c:29:c2:25:8d,192.168.10.240,255.255.255.0,192.168.10.1
siteBBB,00:0c:29:58:5d:d7,192.168.10.250,255.255.255.0,192.168.10.1
siteCCC,00:0c:29:58:5d:d8,192.168.10.251,255.255.255.0,192.168.10.1
siteDDD,00:0c:29:58:5d:d9,192.168.10.252,255.255.255.0,192.168.10.1
EOF

##############################################################################
# Write out python script as I don't know how to access the file from cdrom!

cat << EOF > networking.py
#!/usr/bin/python
import os, commands, csv, subprocess

MAC=subprocess.check_output("esxcli network ip interface list |grep MAC",shell=True)

MACADDR = MAC.split()

with open('ListOfHosts.csv', 'rb') as f:
        reader = csv.reader(f)
        for row in reader:
                if MACADDR[2] == row[1]:
                        os.system("esxcli system hostname set --fqdn=" + row[0])
                        os.system("esxcli network ip interface ipv4 set --interface-name=vmk0 --ipv4=" + row[2] + " --netmask=" + row[3] + " --type=static")
print "End of loop"

EOF

chmod u+x networking.py
/bin/python networking.py
